In [1]:
import pandas as pd
df = pd.DataFrame([
    ['green', 'M', 10.1, 'class2'],
    ['red', 'L', 13.5, 'class1'],
    ['blue','XL',15.3,'class2']
])
df.columns= ['color','size','price','classlabel']
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [21]:
size_mapping = {'XL':3,
                'L':2,
                'M':1}
df['size']= df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class2
1    red     2   13.5     class1
2   blue     3   15.3     class2

In [24]:
#class labels are not ordinal, and it doesnâ€™t matter which integer number we 
#assign to a particular string label
import numpy as np 
class_mapping = {labels :idx for idx , labels in enumerate(np.unique(df['classlabel']))}
class_mapping

{0: 0, 1: 1}

In [25]:
df['classlabel']=df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           0
2   blue     3   15.3           1

In [26]:
inv_class_mapping = {v: k for k, v in class_mapping.items()}
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           0
2   blue     3   15.3           1

In [27]:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
y

array([1, 0, 1], dtype=int64)

In [28]:
class_le.inverse_transform(y)

array([1, 0, 1], dtype=int64)

In [ ]:
X = df[['color', 'size', 'price']].values